{% extends "events/dashboard_base.html" %}

{% block sidebar %}
  <h6 class="text-uppercase mb-3 dashboard-sidebar-title text-dark">Organizer</h6>
  <ul class="nav flex-column gap-2 dashboard-sidebar-nav">
    <li class="nav-item">
      <a class="nav-link sidebar-pill-link {% if request.resolver_match.url_name == 'organizer_dashboard' %}active{% endif %}" href="{% url 'events:organizer_dashboard' %}">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link sidebar-pill-link {% if request.resolver_match.url_name == 'organizer_events' %}active{% endif %}" href="{% url 'events:organizer_events' %}">
        My events
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link sidebar-pill-link {% if request.resolver_match.url_name == 'event_create' %}active{% endif %}" href="{% url 'events:event_create' %}">
        Create event
      </a>
    </li>
    <li class="nav-item mt-3">
      <span class="nav-link text-dark p-0 ">Profile</span>
    </li>
    <li class="nav-item">
      <a class="nav-link sidebar-pill-link {% if request.resolver_match.url_name == 'organizer_profile' %}active{% endif %}" href="{% url 'events:organizer_profile' %}">
        Edit profile
      </a>
    </li>
  </ul>
{% endblock %}

{% block main_content %}
  <div class="dashboard-banner mb-4">
    <h5 class="fw-bold fs-3 text-white mb-1">Feedback for: {{ event.title }}</h5>
    <p class="text-white small mb-0">
      Average: ⭐ {{ avg|default:"-" }}/5.0
    </p>
  </div>
  {% if feedbacks %}
    <div class="list-group">
      {% for f in feedbacks %}
        <div class="list-group-item">
          <div>
            <strong>{{ f.user.get_full_name|default:f.user.username }}</strong>
            • ⭐ {{ f.rating }}/5
          </div>
          {% if f.comment %}
            <div class="mt-1">{{ f.comment }}</div>
          {% endif %}
          <div class="small text-muted mt-1">
            <i class="bi bi-calendar"></i> {{ f.created_at|date:"M d, Y H:i" }}
          </div>
          <div> <i class="bi bi-clock"></i> {{ e.start_time|time:"H:i" }} - {{ e.end_time|time:"H:i" }}</div>
          {% if e.location %}
            <div class="small mb-1">
              <i class="bi bi-geo-alt me-1"></i>{{ e.location }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info">No feedback yet.</div>
  {% endif %}
{% endblock %}
