{% extends "events/dashboard_base.html" %}

{% block sidebar %}
  <h6 class="text-uppercase text-white-50 mb-3">Admin</h6>
  <ul class="nav flex-column gap-2">
    <li class="nav-item">
      <a class="nav-link text-white p-0" href="{% url 'events:admin_dashboard' %}">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white p-0" href="{% url 'events:admin_review' %}">
        Review submissions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white p-0" href="{% url 'events:admin_feedback_overview' %}">
        All events
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white p-0" href="{% url 'events:admin_user_management' %}">
        User management
      </a>
    </li>
  </ul>
{% endblock %}

{% block main_content %}
  <h5>Delete User</h5>
  <p>Are you sure you want to delete user <strong>{{ user_obj.username }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a href="{% url 'events:admin_user_management' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
